<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestWeatherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5575/RestWeatherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestWeatherService"
                contract="IRestWeatherService" name="BasicHttpBinding_IRestWeatherService" />
        </client>
    </system.serviceModel>
</configuration>